# Important!
---
#### It seems that not only does the dataset have category names as columns (vertical tabel, individual data) but the data types and values seem to be going HORIZONTALY (Group Data). 

#### This could explain why Data_Value_Type doesnt make sense in the context of individual data points but comparing the 'Total percent change' should instead be compared to they other types of classification data points like race or sex.

#### This would also explain why there are columns specifically with a classifier like 'Age group' from 'StratificationCategory1'

## Use Ideas:
---
A scatter plot of points, color coded by race/sex, scaled by the 'Total percent change'? 

or the total percent change is an output variable

In [21]:
import pandas as pd
import numpy as np 

# cvd = cardiovascular disease
cvd = pd.read_csv("Cardiovascular_2000-2019_Dataset.csv")
cvd

,LocationID,Year,LocationAbbr,LocationDesc,GeographicLevel,DataSource,Class,Topic,Data_Value,Data_Value_Unit,...,Confidence_limit_High,StratificationCategory1,Stratification1,StratificationCategory2,Stratification2,StratificationCategory3,Stratification3,TopicID,X_long,Y_lat
0,1001,2000,AL,Autauga,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,NaN,"per 100,000",...,NaN,Age group,Ages 35-64 years,Race/EthnicityAge group,American Indian and Alaska Native,Sex,Overall,T1,-86.642959,32.535306
1,1001,2001,AL,Autauga,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,NaN,"per 100,000",...,NaN,Age group,Ages 35-64 years,Race/EthnicityAge group,American Indian and Alaska Native,Sex,Overall,T1,-86.642959,32.535306
2,1001,2002,AL,Autauga,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,NaN,"per 100,000",...,NaN,Age group,Ages 35-64 years,Race/EthnicityAge group,American Indian and Alaska Native,Sex,Overall,T1,-86.642959,32.535306
3,1001,2003,AL,Autauga,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,NaN,"per 100,000",...,NaN,Age group,Ages 35-64 years,Race/EthnicityAge group,American Indian and Alaska Native,Sex,Overall,T1,-86.642959,32.535306
4,1001,2004,AL,Autauga,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,NaN,"per 100,000",...,NaN,Age group,Ages 35-64 years,Race/EthnicityAge group,American Indian and Alaska Native,Sex,Overall,T1,-86.642959,32.535306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1103867,56045,2017,WY,Weston,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,452.2,"per 100,000",...,545.1,Age group,Ages 65+ years,Race/EthnicityAge group,White,Sex,Overall,T1,-104.567765,43.840227
1103868,56045,2018,WY,Weston,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,490.1,"per 100,000",...,583.7,Age group,Ages 65+ years,Race/EthnicityAge group,White,Sex,Overall,T1,-104.567765,43.840227
1103869,56045,2019,WY,Weston,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,522.5,"per 100,000",...,620.6,Age group,Ages 65+ years,Race/EthnicityAge group,White,Sex,Overall,T1,-104.567765,43.840227
1103870,56045,2000-2010,WY,Weston,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,8.0,%,...,42.4,Age group,Ages 65+ years,Race/EthnicityAge group,White,Sex,Overall,T1,-104.567765,43.840227
1103871,56045,2010-2019,WY,Weston,County,NVSS,Cardiovascular Diseases,Major Cardiovascular Disease,43.7,%,...,88.7,Age group,Ages 65+ years,Race/EthnicityAge group,White,Sex,Overall,T1,-104.567765,43.840227

In [3]:
cvd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103872 entries, 0 to 1103871
Data columns (total 24 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   LocationID                  1103872 non-null  int64
 1   Year                        1103872 non-null  object
 2   LocationAbbr                1103872 non-null  object
 3   LocationDesc                1103872 non-null  object
 4   GeographicLevel             1103872 non-null  object
 5   DataSource                  1103872 non-null  object
 6   Class                       1103872 non-null  object
 7   Topic                       1103872 non-null  object
 8   Data_Value                  572572 non-null   float64
 9   Data_Value_Unit             1103872 non-null  object
 10  Data_Value_Type             1103872 non-null  object
 11  Data_Value_Footnote_Symbol  531300 non-null   object
 12  Data_Value_Footnote         531300 non-null   object
 13  Confidence_limit_Low        572572 non-null   float64
 14  Confidence_limit_High       572572 non-null   float64
 15  StratificationCategory1     1103872 non-null  object
 16  Stratification1             1103872 non-null  object
 17  StratificationCategory2     1103872 non-null  object
 18  Stratification2             1103872 non-null  object
 19  StratificationCategory3     1103872 non-null  object
 20  Stratification3             1103872 non-null  object
 21  TopicID                     1103872 non-null  object
 22  X_long                      1103872 non-null  float64
 23  Y_lat                       1103872 non-null  float64
dtypes: float64(5), int64(1), object(18)
memory usage: 202.1+ MB

In [5]:
# Check every unique stratification entry
print(cvd['StratificationCategory1'].unique()) # This is the TITLE 'Age group'
print(cvd['Stratification1'].unique()) # This is the age groups either 'Ages 35-64 years' or 'Ages 65+ years'
print(cvd['StratificationCategory2'].unique()) # This is the TITLE 'Race/EthnicityAge group'
print(cvd['Stratification2'].unique()) # Types 'American Indian and Alaska Native' 'Asian and Pacific Islander' 'Black' 'Hispanic' 'Overall' 'White'
print(cvd['StratificationCategory3'].unique()) # This is the TITLE 'Sex'
print(cvd['Stratification3'].unique()) # Types 'Overall' 'Female' 'Male'

['Age group']
['Ages 35-64 years' 'Ages 65+ years']
['Race/EthnicityAge group']
['American Indian and Alaska Native' 'Asian and Pacific Islander' 'Black'
 'Hispanic' 'Overall' 'White']
['Sex']
['Overall' 'Female' 'Male']

### Organizing Stratification Columns:
----
- Can create seperate data frames categorized by the stratifications 
    - by 'Age group', 'Race/EthnicityAge group', 'Sex'
- Rename the columns reguardless
    - 'Stratification1' to 'Age group'
    - 'Stratification2' to 'Race/Ethnicity'
    - 'Stratification3' to 'Sex'
- Drop the TITLE classification columns? 
    - specifically the StratificationCategory'x'
### 'Overall' probably means unknown
- unknwn gender and race

In [6]:
print(cvd['Data_Value'].unique())
print(cvd['Data_Value_Unit'].unique())
print(cvd['Data_Value_Type'].unique())
print(cvd['Data_Value_Footnote_Symbol'].unique())
print(cvd['Data_Value_Footnote'].unique())

[   nan   76.9   83.4 ...  -66.3 1014.7  -60.1]
['per 100,000' '%']
['Age-Standardized, Spatiotemporally Smoothed Rate' 'Total percent change']
['~' nan]
['Value suppressed' nan]

In [11]:
# looking into more of the data value columns specifically
dvdf = pd.DataFrame({'Data_Value': cvd['Data_Value'], 
                    'Data_Value_Unit' : cvd['Data_Value_Unit'], 
                    'Data_Value_Type' : cvd['Data_Value_Type'], 
                    'Data_Value_Footnote_Symbol' : cvd['Data_Value_Footnote_Symbol'], 
                    'Data_Value_Footnote': cvd['Data_Value_Footnote']})
# dvdf = data value data frame
dvdf

,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote
0,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",~,Value suppressed
1,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",~,Value suppressed
2,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",~,Value suppressed
3,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",~,Value suppressed
4,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",~,Value suppressed
...,...,...,...,...,...
1103867,452.2,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",NaN,NaN
1103868,490.1,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",NaN,NaN
1103869,522.5,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",NaN,NaN
1103870,8.0,%,Total percent change,NaN,NaN
1103871,43.7,%,Total percent change,NaN,NaN

In [25]:
dataValue_drop = dvdf['Data_Value'].dropna()
dvdf_drop = pd.DataFrame({'Data_Value': dataValue_drop, 
                    'Data_Value_Unit' : cvd['Data_Value_Unit'], 
                    'Data_Value_Type' : cvd['Data_Value_Type'], 
                    'Data_Value_Footnote_Symbol' : cvd['Data_Value_Footnote_Symbol'], 
                    'Data_Value_Footnote': cvd['Data_Value_Footnote']})
dvdf_drop.head()

,Data_Value,Data_Value_Unit,Data_Value_Type,Data_Value_Footnote_Symbol,Data_Value_Footnote
0,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",~,Value suppressed
1,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",~,Value suppressed
2,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",~,Value suppressed
3,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",~,Value suppressed
4,NaN,"per 100,000","Age-Standardized, Spatiotemporally Smoothed Rate",~,Value suppressed

### Data Value Col Notes:
---
Still yet to figure out what these all mean 
- Data_Value could be mortality rate, total build up of fat, or anything else related to CVD

In [2]:
print(cvd.columns)

Index(['LocationID', 'Year', 'LocationAbbr', 'LocationDesc', 'GeographicLevel',
       'DataSource', 'Class', 'Topic', 'Data_Value', 'Data_Value_Unit',
       'Data_Value_Type', 'Data_Value_Footnote_Symbol', 'Data_Value_Footnote',
       'Confidence_limit_Low', 'Confidence_limit_High',
       'StratificationCategory1', 'Stratification1', 'StratificationCategory2',
       'Stratification2', 'StratificationCategory3', 'Stratification3',
       'TopicID', 'X_long', 'Y_lat'],
      dtype='object')

In [12]:
print(cvd['Class'].unique()) # 'Cardiovascular Diseases'
print(cvd['Topic'].unique()) # 'Major Cardiovascular Disease'

['Cardiovascular Diseases']
['Major Cardiovascular Disease']

In [22]:
print(cvd['LocationID'].unique()) # Unique combinations of state and county is given a specific ID
print(cvd['LocationID'].nunique()) # Total unique combinations of state and county
print(cvd['LocationAbbr'].unique()) # State Name
print(cvd['LocationDesc'].unique()) # County Names
print(cvd['GeographicLevel'].unique()) # 'County'

[ 1001  1005  1027 ... 56041 56043 56045]
3136
['AL' 'AK' 'AZ' 'AR' 'CA' 'CO' 'FL' 'GA' 'CT' 'HI' 'DE' 'ID' 'DC' 'IL'
 'IN' 'IA' 'KS' 'KY' 'LA' 'ME' 'MD' 'MI' 'MN' 'MA' 'MS' 'MO' 'MT' 'NE'
 'NV' 'NH' 'NJ' 'NM' 'NY' 'NC' 'ND' 'OH' 'OK' 'OR' 'PA' 'SC' 'SD' 'TN'
 'RI' 'TX' 'UT' 'VA' 'VT' 'WA' 'WV' 'WI' 'WY']
['Autauga' 'Barbour' 'Clay' ... 'Uinta' 'Washakie' 'Weston']
['County']

In [18]:
print(cvd['Confidence_limit_Low'].nunique())
print(cvd['Confidence_limit_High'].nunique())

11022
14292